* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono;
  font-weight: 600;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background-color: #282a36;
  color: white;
}

#workspaces {
  background-color: #1d202e;
  margin: 0px 0px;
  border-radius: 2px;
}
#workspaces button {
  padding: 2px 8px;
  color: #fff;
}

#workspaces button.focused {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 2px;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
  border-radius: 2px;
}

#date,
#clock,
#battery,
#pulseaudio,
#network {
  background-color: #1d202e;
  padding: 0px 10px;
  margin: 0px 0px;
}

#date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 0px 10px;
}

#custom-logo {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  padding: 0px 5px;
}

#custom-keyboardbacklight {
  color: #b9f27c;
  margin: 0px 0;
  padding: 0 7px;
  background-color: #1d202e;
  border-radius: 2px 2px 2px 2px;
  margin-right: 3px;
}

#clock {
  color: #b48ead;
  border-radius: 0px 2px 2px 0px;
  margin-right: 3px;
}

#battery {
  color: #b9f27c;
  margin: 0px 0;
  padding: 0 10px;
  background-color: #1d202e;
  border-radius: 2px 2px 2px 2px;
  margin-right: 3px;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 2px 2px 2px 2px;
}

#network {
  color: #ff5555;
  border-radius: 2px 0px 0px 2px;
}

#pulseaudio {
  color: #e0af68;
}

#temperature {
  background-color: #1d202e;
  margin: 0px 0;
  padding: 0 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #82e4ff;
}

#disk {
  color: #50fa7b;
  margin: 0px 0;
  padding: 0 10px;
  background-color: #1d202e;
  border-radius: 2px 2px 2px 2px;
  margin-right: 3px;
}

#custom-nowplaying,
#custom-weather {
  color: #dcf27c;
  margin: 0px 0;
  padding: 0 10px;
  background-color: #1d202e;
  border-radius: 2px 2px 2px 2px;
  margin-right: 3px;
}

#memory {
  background-color: #1d202e;
  margin: 0px 0;
  margin-right: 3px;
  padding: 0 10px;
  border-radius: 2px 2px 2px 2px;
  color: #ffac6e;
}

#cpu {
  margin: 0px 0;
  padding: 0 10px;
  background-color: #1d202e;
  color: #ff7a93;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 3px;
}

#backlight {
  color: #b9f27c;
  margin: 0px 0;
  padding: 0 10px;
  background-color: #1d202e;
  border-radius: 2px 2px 2px 2px;
  margin-right: 3px;
}

#tray {
  background-color: #304166;
  margin: 0px;
  margin-left: 0px;
  margin-right: 3px;
  border-radius: 2px;
  padding: 0 10px;
}

#tray menu {
  background-color: #1d202e;
  color: #7dcfff;
  border-radius: 2px 2px 2px 2px;
}


#tray > * {
  padding: 0 2px;
  margin: 0 2px;
}

